<html>
<head>
    <title>Sentiment analyser</title>
    <meta name = "viewport" content="width = device-width, initial-scale = 1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" 
    integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
</head>
<body>
    <div class = "pure-g">
        <div class = "pure-u-1" style = "text-align: center;">
    <h3>A Sentiment Analysis Model using NLP</h3>
        </div>
    </div>
    <div>
        <form class = "pure-form" method = "POST" action = '/'>
            Enter text for analyzing the sentiment's polarity:
        <input type = "text" name = "review" required><br><br>
        <button type="submit" class="pure-button pure-button-primary">Submit</button><br>
    </div>
    </form>
    <div>
        {% if review %}
        <p>The text you entered is: {{review}}</p>
        <p>Sentiment: {{sentiment}}</p>
        <p>This is just a start. (Provide more and more context for better analysis.😌)</p>
        {% endif %}
    </div>
</body>
</html>